<p style="color: green"><%= notice %></p>

<h1>本一覧</h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "詳細", book %>
    </p>
  <% end %>
</div>

<%= link_to "登録", new_book_path %>
